<html>
    <head>
        <title>BOOKBOOKEVERYWHERE</title>
        <link rel="stylesheet" href="css/CSS file.css">
    </head>
    <body class="bodybg">
        <div>
            <div style="display: flex; flex-direction: row">
                <div class="heading">
                    <div class="headertxt" style="margin-bottom: 30pt;" id="logo" data-href="/main">
                        <img src="img/Logo.png" style="width: 100pt;">
                    </div>
                    <div class="heading2">
                        <a class="subheadertxt" id="navbar" href="/main">Book</a>
                        <a class="subheadertxt" id="navbar" href="/store">Store</a>
                        <a class="subheadertxt" id="navbar" href="/cart">Order</a>
                        <a class="subheadertxt" id="navbar" href="/aboutus"><u>About Us</u></a>
                        <a class="subheadertxt" id="navbar" href="/profile">Profile</a>
                        <a class="subheadertxt" id="navbar" style="width: 120pt; position: fixed; bottom:50px;" href="/logout">Log Out</a>
                    </div>
                </div>
            </div>
            <div style="margin-left:145pt">
                <div class="headertxt">
                    <b>About Us</b>
                </div>
                <div class="backgroundbox1" style="height: 91%">
                    <div class="column">
                        <div class="basictxt" style="padding:20pt; text-align: justify; padding-right: 50pt;">
                            Book Book Everywhere adalah toko buku online terbesar dan terlengkap di Indonesia yang menyediakan aneka buku berkualitas dengan bermacam-macam kategori yang dapat anda pesan.
                            <br><br>
                            Book Book Everywhere hadir sejak tahun 1830 di bawah naungan Network Laboratory Group of Computer Engineering University of Indonesia. Pada tahun 1903, Book Book Everywhere diambil alih oleh Netlab Group dan berada di bawah naungan Bang Fadilah Suherman Group hingga saat ini. 
                            <br><br>
                            Book Book Everywhere saat ini telah tersebar sebanyak 9 cabang di DKI Jakarta. Dan saat ini Book Book Everywhere sedang dipimpin oleh 4 orang pemimpin perusahaan Netlab Group yakni : 
                            <br>
                            1. Bapak Airell Ramadhan Budiraharjo<br>
                            2. Bapak Windiarta<br>
                            3. Bapak Fikri Afif Musyaffa<br>
                            4. Ibu Amanda Fairuz Syifa<br>
                            <br><br>
                            Misi kami adalah turut berpartisipasi dalam pengembangan intelektual bangsa dengan menyebarkan ilmu pengetahuan dan informasi melalui model retail yang berbeda. Kehadiran Book Book Everywhere diharapkan dapat membantu memberikan kemudahan bagi para pelanggan Toko Buku Book Book Everywhere dan masyarakat Indonesia untuk memenuhi kebutuhannya secara online.
                            <br><br>
                            Kenyamanan dan kepuasan para pelanggan merupakan prioritas kami. Kami ingin memberikan pengalaman yang lebih kepada para pelanggan di saat pelanggan melakukan proses pembelanjaan baik online maupun offline dengan terus mengembangkan fitur-fitur produk. Memberikan pelayanan yang terbaik menjadi tujuan kami dengan dukungan manajemen yang proaktif dan kreatif.
                            <br><br>
                            Saat ini Book Book Everywhere dapat diakses mudah melalui website  resmi kami untuk membantu kebutuhan pelanggan sobat literasi Indonesia. 
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function($){
            
        })
    </script>
</html>