<html>
    <head>
        <title>BOOKBOOKEVERYWHERE</title>
        <link rel="stylesheet" href="css/CSS file.css">
    </head>
    <body class="bodybg">
        <div>
            <div style="display: flex; flex-direction: row">
                <div class="heading">
                    <div class="headertxt" style="margin-bottom: 30pt;">
                        <img src="img/Logo.jpg" style="width: 100pt;">
                    </div>
                    <div class="heading2">
                        <a class="subheadertxt" id="book" href="Bookpage.html">Book</a>
                        <a class="subheadertxt" id="store" href="Store.html">Store</a>
                        <a class="subheadertxt" id="aboutus" href="Aboutus.html">About Us</a>
                        <a class="subheadertxt" id="profile" href="Profile.html">Profile</a>
                    </div>
                </div>
            </div>
            <div style="margin-left:145pt">
                <div class="headertxt">
                    <b>Book</b>
                </div>
                <div class="backgroundbox1">
                    <div class="categories">
                        <form>
                            <label for="choose_category" class="basictxt">Category: </label>
                            <select name="choose_category" class="basictxt">
                                <option value="All">All</option>
                                <option value="Agama">Agama</option>
                                <option value="Pendidikan">Pendidikan</option>
                                <option value="Bisnis & Ekonomi">Bisnis & Ekonomi</option>
                                <option value="Pengembangan Diri">Pengembangan Diri</option>
                                <option value="Ilmu Sosial">Ilmu Sosial</option>
                                <option value="Hukum">Hukum</option>
                                <option value="Komputer & Teknologi">Komputer & Teknologi</option>
                                <option value="Keluarga">Keluarga</option>
                                <option value="Gaya Hidup">Gaya Hidup</option>
                                <option value="Sastra & Fiksi">Sastra & Fiksi</option>
                                <option value="Komik">Komik</option>
                            </select>
                            <input type="button" value="Submit" class="basictxt" style="width: 80px; text-align:center; border-radius: 3pt;">
                        </form>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>Laskar Pelangi</b></u> <br />
                                </div>
                                <div id="price" class="hargatxt">
                                    <b>Rp 150000</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Author: Andrea Hirata<br>
                                    Stok Produk: 10<br>
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>Merdeka Belajar Kampus Merdeka</b></u> <br />
                                </div>
                                <div id="price" class="hargatxt">
                                    <b>Rp 80000</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Author: Ana Widyastuti M.pd<br>
                                    Stok Produk: 100(Pre-Order)<br>
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>Elex Media Komputindo</b></u> <br />
                                </div>
                                <div id="price" class="hargatxt">
                                    <b>Rp 110000</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Author: Lioe Boen Hoey (Wenny Liu)<br>
                                    Stok Produk: 30<br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>IMAN (Ilmu-Moral-Amal-Nasionalisme); Modal Milenial Menaklukkan Dua Dunia</b></u> <br />
                                </div>
                                <div id="price" class="hargatxt">
                                    <b>Rp 150000</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Author: Saiful Falah<br>
                                    Stok Produk: 20(Pre-Order)<br>
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>Semua Bisa Kaya</b></u> <br />
                                </div>
                                <div id="price" class="hargatxt">
                                    <b>Rp 70000</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Author: Marviarum Eka Ramdiati<br>
                                    Stok Produk: 15<br>
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>Rich Dad Poor Dad</b></u> <br />
                                </div>
                                <div id="price" class="hargatxt">
                                    <b>Rp 100000</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Author: Robert T. Kiyosaki<br>
                                    Stok Produk: 15<br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>Laskar Pelangi</b></u> <br />
                                </div>
                                <div id="price" class="hargatxt">
                                    <b>Rp 150000</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Author: Andrea Hirata<br>
                                    Stok Produk: 10<br>
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>Merdeka Belajar Kampus Merdeka</b></u> <br />
                                </div>
                                <div id="price" class="hargatxt">
                                    <b>Rp 80000</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Author: Ana Widyastuti M.pd<br>
                                    Stok Produk: 100(Pre-Order)<br>
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>Elex Media Komputindo</b></u> <br />
                                </div>
                                <div id="price" class="hargatxt">
                                    <b>Rp 110000</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Author: Lioe Boen Hoey (Wenny Liu)<br>
                                    Stok Produk: 30<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function($){
            $("#book").click(function(){window.location=$(this).data("href");})
            $("#store").click(function(){window.location=$(this).data("href");})
            $("#aboutus").click(function(){window.location=$(this).data("href");})
            $("#profile").click(function(){window.location=$(this).data("href");})
        })
    </script>
</html>