<html>
    <head>
        <title>BOOKBOOKEVERYWHERE</title>
        <link rel="stylesheet" href="css/CSS file.css">
    </head>
    <body class="bodybg">
        <div>
            <div style="display: flex; flex-direction: row">
                <div class="heading">
                    <div class="headertxt">
                        <img src="img/Logo.jpg" style="width: 100pt;">
                    </div>
                    <div class="heading2">
                        <a class="subheadertxt" id="navbar" href="Bookpage.html">Book</a>
                        <a class="subheadertxt" id="navbar" href="Store.html">Store</a>
                        <a class="subheadertxt" id="navbar" href="Aboutus.html">About Us</a>
                        <a class="subheadertxt" id="navbar" href="Profile.html">Profile</a>
                    </div>
                </div>
            </div>
            <div style="margin-left:145pt">
                <div class="headertxt">
                    <b>Store</b>
                </div>
                <div class="backgroundbox1">
                    
                    <div class="column">
                        <div class="row">
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>BOOK BOOK EVERYWHERE CIJANTUNG</b></u> <br />
                                </div>
                                <div id="phone" class="hargatxt">
                                    <b>(021) 111111</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Mall Cijantung Lantai 3 Jalan Kesehatan No. 1 Duren Sawit RT.1/RW.4 Cijantung Kec. Ps. Rebo Kota Jakarta Timur Daerah Khusus Ibukota Jakarta 13440
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>BOOK BOOK EVERYWHERE CIJANTUNG</b></u> <br />
                                </div>
                                <div id="phone" class="hargatxt">
                                    <b>(021) 111111</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Mall Cijantung Lantai 3 Jalan Kesehatan No. 1 Duren Sawit RT.1/RW.4 Cijantung Kec. Ps. Rebo Kota Jakarta Timur Daerah Khusus Ibukota Jakarta 13440
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>BOOK BOOK EVERYWHERE CIJANTUNG</b></u> <br />
                                </div>
                                <div id="phone" class="hargatxt">
                                    <b>(021) 111111</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Mall Cijantung Lantai 3 Jalan Kesehatan No. 1 Duren Sawit RT.1/RW.4 Cijantung Kec. Ps. Rebo Kota Jakarta Timur Daerah Khusus Ibukota Jakarta 13440
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>BOOK BOOK EVERYWHERE CIJANTUNG</b></u> <br />
                                </div>
                                <div id="phone" class="hargatxt">
                                    <b>(021) 111111</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Mall Cijantung Lantai 3 Jalan Kesehatan No. 1 Duren Sawit RT.1/RW.4 Cijantung Kec. Ps. Rebo Kota Jakarta Timur Daerah Khusus Ibukota Jakarta 13440
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>BOOK BOOK EVERYWHERE CIJANTUNG</b></u> <br />
                                </div>
                                <div id="phone" class="hargatxt">
                                    <b>(021) 111111</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Mall Cijantung Lantai 3 Jalan Kesehatan No. 1 Duren Sawit RT.1/RW.4 Cijantung Kec. Ps. Rebo Kota Jakarta Timur Daerah Khusus Ibukota Jakarta 13440
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>BOOK BOOK EVERYWHERE CIJANTUNG</b></u> <br />
                                </div>
                                <div id="phone" class="hargatxt">
                                    <b>(021) 111111</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Mall Cijantung Lantai 3 Jalan Kesehatan No. 1 Duren Sawit RT.1/RW.4 Cijantung Kec. Ps. Rebo Kota Jakarta Timur Daerah Khusus Ibukota Jakarta 13440
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>BOOK BOOK EVERYWHERE CIJANTUNG</b></u> <br />
                                </div>
                                <div id="phone" class="hargatxt">
                                    <b>(021) 111111</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Mall Cijantung Lantai 3 Jalan Kesehatan No. 1 Duren Sawit RT.1/RW.4 Cijantung Kec. Ps. Rebo Kota Jakarta Timur Daerah Khusus Ibukota Jakarta 13440
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>BOOK BOOK EVERYWHERE CIJANTUNG</b></u> <br />
                                </div>
                                <div id="phone" class="hargatxt">
                                    <b>(021) 111111</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Mall Cijantung Lantai 3 Jalan Kesehatan No. 1 Duren Sawit RT.1/RW.4 Cijantung Kec. Ps. Rebo Kota Jakarta Timur Daerah Khusus Ibukota Jakarta 13440
                                </div>
                            </div>
                            <div class="objectbook">
                                <div id="name" class="titletxt">
                                    <u><b>BOOK BOOK EVERYWHERE CIJANTUNG</b></u> <br />
                                </div>
                                <div id="phone" class="hargatxt">
                                    <b>(021) 111111</b>
                                </div>
                                <div id="desc" class="desctxt">
                                    Mall Cijantung Lantai 3 Jalan Kesehatan No. 1 Duren Sawit RT.1/RW.4 Cijantung Kec. Ps. Rebo Kota Jakarta Timur Daerah Khusus Ibukota Jakarta 13440
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function($){
            $("#book").click(function(){window.location=$(this).data("href");})
            $("#store").click(function(){window.location=$(this).data("href");})
            $("#aboutus").click(function(){window.location=$(this).data("href");})
            $("#profile").click(function(){window.location=$(this).data("href");})
        })
    </script>
</html>